body {

	background-image: linear-gradient(to right, #882951, #ed6537);

}

h1 {

	color: #FFF;
	font-family: "Lucida Console", Monaco, monospace;
	text-align: center;
	margin: 20px;
	font-size: 30pt;

	text-shadow: 2px 2px 4px #222;

}

.round-box {

	border-radius: 8px;
	
	background: rgba(255, 255, 255, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.4);

	margin: 2px;

	padding: 2px;
	padding-bottom: 2px;

	width: 50px;
	height: 50px;
	max-width: 80px;
	max-height: 80px;

	color: #000;

	-webkit-box-shadow: 5px 5px 8px 1px rgba(0,0,0,0.3); 
	box-shadow: 5px 5px 8px 1px rgba(0,0,0,0.3);

	text-align: center;

	transition: 100ms;
	
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20pt;
}

.round-box:hover{
	
	border-radius: 2px;
	background: #fba583;
	
}

.box-red {
	
	background: #f22 !important;
	border: 1px solid #B00 !important;
	
}

.box-orange {
	
	background: #fa7846 !important;
	border: 1px solid #DB592A !important;
		
}

.box-black {

	background: rgba(0, 0, 0, 0.5) !important;
	border: 1px solid rgba(0, 0, 0, 0.7) !important;

}

.table-inner {

	margin: 4px;
	margin-right: 6px;

}

.table-outer {

	table-layout: fixed;

	align: center;
	margin: auto;

}

.button-container {
	
	float: none;
	
	width: 300px;
	
	margin: auto;
	
	position: relative;
	
	text-align: center;
	
}

.check-visual {
	
	align: right;
	
}

.small-text {
	
	font-family: 'Josefin Sans', sans-serif;
	font-size: 10pt;
	
	margin-top: 6px;
	margin-bottom: 2px;
	
}

.checkbox-container {
	
	width: 150px;
	height: auto;
	
	padding: 4px;
	
	border-radius: 8px;
	
	background: rgba(255, 255, 255, 0.4);
	
}

.frame-button-container {
	
	margin: 0 auto;
	display: block;
	
	text-align: center;
	
}

.frame-buttons {
	
	width: 1.5rem;
	height: 1.5rem;
	
	text-align: center;
	padding-left: 5px;
	padding-bottom: 3px;
	
	margin-top: 6px;
	
	margin-left: 0;
	margin-right: 0;
	
	border-radius: 0;
	
}

.footer {
	
	position: fixed;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	
	display: block;
	
	margin: 0px;
	padding: 2px;
	
	font-family: 'Josefin Sans', sans-serif;
	font-size: 10pt;
	
	bottom: 0;
	left: 0;
	
	color: #000;
	text-align: center;
	
}

.big-button {

	border-radius: 14px;

	float: none;
    display: block;
    margin: 10px auto;

	margin-top: 30px;

	padding: 4px;
	width: 6rem;
	
	text-align: center;

}